# Звездочка  * блокирует все(сейчас она закоментирована).
#*

# Разрешено отправлять на гитхаб.

!*.yaml
!.gitignore
!*.md
!*.sh
!*.js*


# Ignore folders (блокируем папки).

.storage
.cloud
.google
.token
.ssh

# Блокируем файлы Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.

ip_bans.yaml
secrets.yaml
known_devices.yaml
home-assistant.log*
home-assistant_v2
id-rsa*
bloknot.txt  
ssh*
